@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page-home {
  width: 360px;
  padding: 8% 0 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: -50px;
}

.login-header {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
}

.img-display img {
    width: 80px;
    height: 80px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button, .logout-page button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message p {
  width: 100px;
  margin: 0 auto;
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}

.fa {
  float: right;
  margin-left: -25px;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}

.footer {
    display: flex!important;
    list-style: none!important;
    justify-content: center!important;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    font-size: 12px;
}

.footer li {
    margin-left: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.footer li a {
    color: #0366d6;
    text-decoration: none;
}