.HomePage {
    text-align: center;
}

.Button-class button {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(78, 66, 236);
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.home-page-nav {
    display: flex;
    justify-content: center;
}

.login-alert {
    color: red;
}

.welcome-msg {
    margin-right: 10px;
}