.Container-problemList {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Container-tags {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}