.project-2-newuser-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-2-newuser-form-container form{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#b-1988, #c-1993 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#b-1988 label, #c-1993 label {
    font-weight: 500;
}

#b-1988 input, #b-1988 select {
  width: 100%;
  background-color: #fafbfc;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  min-height: 10px;
  padding: 6px 8px;
}

#c-1993 {
    width: 100%;
}

.b-1998-name-error {
    color: red;
    margin: 0;
    font-size: 0.75rem;
    margin-top: 8px;
    min-height: 1em;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.03333em;
}

#b-1998-error-input {
    border: 1px solid red !important;
}

.project-2-newuser-avatar-preview {
    width: 200px;
    height: 200px;
}

.project-2-newuser-input-area {
    margin-right: 50px;
}

.project-2-newuser-header {
    margin-left: 30%;
    margin-right: 30%;
    border-bottom: 1px solid #e1e4e8;
}

#chenxu-1993 {
    font-size: 24px;
    font-weight: 400;
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.project-2-newuser-img-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.project-2-newuser-img-area label {
    font-weight: 500;
}

.project-2-upload-button-container {
    float: right;
    margin-top: 10px;
}

